<div class="container">
  <div class="row">
    <div class="col">
      <h1>My requests</h1>
      <div class="row">
        <request-filter
          (filterSubmit)="filter($event)"
          [filterName]="'Request name'"
        ></request-filter>
      </div>
      <div
        *ngIf="submitted"
        class="row"
      >
        <h2 class="col-12">Requests</h2>
        <ul class="col-12">
          <li
            *ngFor="let requestItem of filteredRequestItems"
          >{{ requestItem }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>