<div class="container">
  <div class="row">
    <h1 class="col-12">Request details</h1>
    <ul class="col-12">
      <div><span>Request ID: </span>{{request_id}}</div>
      
      <div><span>User ID: </span>{{request.owner.userID}}</div>
      <div><span>User name: </span>{{request.owner.userName}}</div>
      
      <div><span>Product ID: </span>{{request.product.productID}}</div>
      <div><span>Product name: </span>{{request.product.productName}}</div>
      <div><span>Product type name: </span>{{request.product.productType}}</div>
      <div><span>Product group name: </span>{{request.product.productGroup.groupName}}</div>
      
      <div><span>Ordered amount: </span>{{request.orderedAmount}}</div>
    </ul>
  </div>
</div>