<div class="container">
  <div class="row">
    <h1 class="col-12">Request details</h1>
    <ul class="col-12">
      <div><span>Request ID: </span>{{requestID}}</div>
      
      <div><span>User ID: </span>{{userID}}</div>
      <div><span>User name: </span>{{userName}}</div>
      <p></p>
      <div><span>Product ID: </span>{{productID}}</div>
      <div><span>Product name: </span>{{productName}}</div>
      <div><span>Product type name: </span>{{productType}}</div>
      <div><span>Product group name: </span>{{groupName}}</div>
      <p></p>
      <div><span>Ordered amount: </span>{{orderedAmount}}</div>
      <button mat-icon-button (click)="deleteRequest(request.requestID)">
        <mat-icon>delete</mat-icon>
      </button>
    </ul>
  </div>
</div>