<div class="form-group">
  <div [hidden]="submitted">
    <h1>ADD NEW PRODUCT</h1>
    <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
      
      <div class="form-group">
        <label for="productName">Product name</label>
        <input id="productName" name="productName" class="form-control" type="text"
          required minlength="10"
          [(ngModel)]="productName" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 10 characters long.
          </div>      
        </div>
      </div>

      <div class="form-group">
        <label for="productType">Product type</label>
        <input id="productType" name="productType" class="form-control" type="text"
          required minlength="10"
          [(ngModel)]="productType" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Type is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Type must be at least 10 characters long.
          </div>      
        </div>
      </div>

      <div class="form-group">
        <label for="productGroup">Product Group</label>
        <select id="productGroup" name="productGroup" class="form-control"  
          required
          [(ngModel)]="productGroup" #name="ngModel"        >
          <option *ngFor="let group of groups" [value]="group.groupID">
            {{group.groupName}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="quantity">Quantity In Stock</label>
        <input id="quantity" name="quantity" class="form-control" type="number"
          required min="1" max="1000"
          [(ngModel)]="quantity" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Quantity in stock is required.
          </div>
          <div *ngIf="name.errors.min">
            Quantity in stock must be at least 1.
          </div>  
          <div *ngIf="name.errors.max">
            Quantity in stock must be up to 1000.
          </div>     
        </div>
      </div>

      <button type="submit" class="btn btn-success" 
        [disabled]="!productForm.form.valid">Add new product</button>

    </form>
  </div>
</div>

<div *ngIf="submitted">
  <h3>Saved product:</h3>
    {{diagnostic}}
</div>