<div class="container">
  <div class="row">
    <h1 class="col-12">Product details</h1>
    <ul class="col-12">
      <div><span>Product ID: </span>{{product_id}}</div>
      
      <div><span>Product name: </span>{{product.productName}}</div>
      
      <div><span>Product type name: </span>{{product.productType}}</div>
      <div><span>Product group name: </span>{{product.productGroup.groupName}}</div>
      
      <div><span>Quantity in stock: </span>{{product.quantity}}</div>
    </ul>
  </div>
</div>