<div class="form-group">
  <div [hidden]="submitted">
    <h1>CREATE NEW REQUEST</h1>
    <form (ngSubmit)="onSubmit(requestForm)" #requestForm="ngForm">
      <div class="form-group">
        <label for="user">User name</label>
        <select id="user" name="user" class="form-control" 
          required
          [(ngModel)]="user" #name="ngModel">
          <option *ngFor="let user of users" [value]="user.userID">
            {{user.userName}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="product">Product name</label>
        <select id="product" name="product" class="form-control"  
          required
          [(ngModel)]="product" #name="ngModel"        >
          <option *ngFor="let product of products" [value]="product.productID">
            {{product.productName}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="orderedAmount">Ordered Amount</label>
        <input id="orderedAmount" name="orderedAmount" class="form-control" type="number"
          required min="1" max="1000"
          [(ngModel)]="orderedAmount" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Ordered amount is required.
          </div>
          <div *ngIf="name.errors.min">
            Ordered amount must be at least 1.
          </div>  
          <div *ngIf="name.errors.max">
            Ordered amount must be up to 1000.
          </div>     
        </div>
      </div>

      <button type="submit" class="btn btn-success"  [disabled]="!requestForm.form.valid">
        Submit
      </button>

    </form>
  </div>
</div>

<div *ngIf="submitted">
    <h3>Saved request:</h3>
      {{diagnostic}}
  </div>