{{diagnostic}}

<div class="form-group">
  <div [hidden]="submitted">
    <h1>CREATE NEW REQUEST</h1>
    <form (ngSubmit)="onSubmit(requestForm)" #requestForm="ngForm">
      <div class="form-group">
        <label for="user">User name</label>
        <select id="user" name="user" class="form-control" 
          required
          [(ngModel)]="model.user" #user="ngModel">
          <option *ngFor="let user of users" [value]="user.user_name">
            {{user.user_name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="product">Product name</label>
        <select id="product" name="product" class="form-control"  
          required
          [(ngModel)]="model.product" #product="ngModel"        >
          <option *ngFor="let product of products" [value]="product.product_name">
            {{product.product_name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="ordered_amount">Ordered Amount</label>
        <input id="ordered_amount" name="ordered_amount" class="form-control" type="number"
          required min="1" max="1000"
          [(ngModel)]="model.ordered_amount" #ordered_amount="ngModel">
        <div *ngIf="ordered_amount.invalid && (ordered_amount.dirty || ordered_amount.touched)"
          class="alert alert-danger">
          <div *ngIf="ordered_amount.errors.required">
            Quantity in stock is required.
          </div>
          <div *ngIf="ordered_amount.errors.min">
            Quantity in stock must be at least 1.
          </div>  
          <div *ngIf="ordered_amount.errors.max">
            Quantity in stock must be up to 1000.
          </div>     
        </div>
      </div>

      <button type="submit" class="btn btn-success"  [disabled]="!requestForm.form.valid">
        Submit
      </button>

    </form>
  </div>
</div>