<div class="product-list-container">
  <div>
    <div>
      <h1 class="product-list-h1">ALL AVAILABLE PRODUCTS</h1>

        <div class="product-filter">
          <product-filter
            (filterSubmit)="filter($event)"
            [filterName]="'Product name'"
          ></product-filter>
        </div>

        <div *ngIf="!submitted" class="col-12">
          <ul>
            <li *ngFor="let product of products" (click)="onSelect(product)">
              <a [routerLink]="'/products/' + product.product_id">
                {{ product.product_name }}
              </a>
              <product-detail [product]="selectedProduct"></product-detail>
            </li>
          </ul>
        </div>

        <div *ngIf="submitted" class="filtered-products">
          <ul>
            <li *ngFor="let product of filteredProducts">
              <a [routerLink]="'/products/' + product.product_id">
                {{ product.product_name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>