<div class="requestform-container">
  <h1 class="request-form-h1">Create new request</h1>
    <div class="requestform-fields">
      <p>
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Product Name">
          <mat-hint>Kérem válasszon az elérhető termékek közül</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="number" min="0" max="100" matInput placeholder="Ordered Amount">
          <mat-hint>Kérem adja meg a rendelt mennyiséget</mat-hint>
        </mat-form-field>
      </p>
    </div>

  <div class="requestform-button">
    <button mat-raised-button>Save</button>
  </div>
  
</div>